@import '../../helpers/mixins';
@import '../../helpers/variables';

.ftr__ms__container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 22px;
    background-color: black;

    h3 {
        font-family: map-get($fonts, primary);
        font-size: map-get($fonts-sizes, s-regular);
        color: $green;
    }
}
