@import '../helpers/mixins';
@import '../helpers/variables';

.app__ms__containaer {
    width: 100%;
}

.app__headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
}

.app__navbar__container {
    display: flex;
    flex-direction: column;
    width: 95%;

    @include dekstop {
        width: 1014px;
    }
}

.app__bottom {
    width: 100%;
    position: sticky;
    // bottom: 0;
    top: 100%;
}
